* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

h1,
footer {
	background-color: palevioletred;
	color: white;
	text-align: center;
	padding: 10px 0;
}

h2{
    margin-bottom: 15px;
}

.error{
    background-color: #e0aeae;
    border: 2px solid #cb3636;
}


.registro{
    text-decoration: none;
    background-color: #c7fd6c;
    font-weight: bold;
    font-size: 21px;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 80%;
}

.title{
    color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
}


.container{
    display: flex; 
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-basis: 30%;
    margin-top: 50px;
    
}

.container-login{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    background-color: #c7fd6c;
    padding: 80px 40px;
    border-radius: 10px 60px;
}

.formulario {
    flex-basis: 80%;
}

.enlace{
    background-color: #c7fd6c;
    padding: 12px 50px;
    border-radius: 27px;
    color: white;
    text-decoration: none;
    

}

.empleado{
    text-align: center;
    display: inline-block;
    border-radius: 0px 22px 22px 0;
    padding: 8px 36px 8px 0;
    color: white;
    font-size: 50px;
    background-color: #c7fd6c;
    margin-bottom: 40px;
    margin-top: 20px;

}

.enlace-fin{
    color: red;
    text-decoration: none;
    margin-left: 90px;
    margin-bottom: 20px;
}


footer{
    background-color: palevioletred;
    color: white;
    text-align: center;
    padding: 25px;
    overflow: hidden;
    margin-top: 45px;
}

button{
	background: palevioletred;
    color: white;
    border: none;
    padding: 15px 22px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.edición-boton{
    border-radius: 4px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background-color: transparent;
}

.parrafo{
    margin-bottom: 37px;
}

a:hover { 
    color: white; }

.nit{
    margin-bottom: 40px;
}


.direccion{
    margin-bottom: 40px;
}

.fundacion{
    margin-top: 40px;
}

.razon-formulario{
    display: block;
    padding: 10px;
    margin-bottom: 20px;
}

input{
    padding: 10px;
    margin-bottom: 20px;
    width: 330px;
	border: none;
    box-shadow: 0px 0px 17px rgb(231 174 184);
}

input::placeholder{
    color: black;
}

.error{
    background-color: #e0aeae;
    border: 2px solid #cb3636;
}

.razon-social{
   display: block;
}

main{
    display: flex;
}

.bad-credentials,
.ya-existe {
    color: red;
}